body {
    background-color: rgb(0, 0, 0);
    height: 500vh;
    margin: 0;
    padding: 0;
}
.cabecalho {
    display: fixed;
    top:0;
}
.navbar{
    top:0;
    position: absolute;
    display: flex;
    background-color: black;
    width: 100%;
    height: 90px;
    align-items: center;
    justify-content: center;
}
ul li {
    list-style: none;
    display: inline-block;
}
.nav_icons{
    padding: 15px 30px 15px 30px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    top: 50px;
    margin: 100px;
    font-family: 'Times New Roman', Times, serif;
}
#logo {
    top: 10px;
    left:50px;
    display: inline-block;
    position: absolute;
    height: 70px;
    width: 90px;
}

.nav_icons:hover{
    
    border-color: yellow;
    background: yellow;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.banner {
    background-color: yellow;
    display: block;
    top:90px;
    position: absolute;
    height: 700px;
    width: 100%;
}
.banner h1{
    position: absolute;
    top:200px;
    left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.banner h2{
    position: absolute;
    top:205px;
    left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#foto_banner {
    position: absolute;
    height: 500px;
    left: 1000px;
    z-index: 10;
}

#banner_1 {
    top:120px;
    left:62%;
    display: inline-block;
    position: relative;
    background-color: rgba(5, 0, 0, 0.904);
    border-radius: 20px;
    border:2px solid;
    border-color: yellow;
    height: 400px;
    width: 500px;
    z-index: 0;
}

