@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

body {
    background-color: rgb(0, 0, 0);
    height: 500vh;
    margin: 0;
    padding: 0;
}
.cabecalho {
    display: block;
    top:0;
}
.navbar{
    top:0;
    position: fixed;
    display: flex;
    background-color: black;
    width: 100%;
    height: 90px;
    align-items: center;
    justify-content: center;
    z-index: 200;
}
.banner ul, li{
    list-style: none;
    display: inline-block;
}
.nav_icons{
    padding: 15px 30px 15px 30px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    top: 50px;
    margin: 100px;
    font-family: 'Times New Roman', Times, serif;
}
#logo {
    top: 10px;
    left:50px;
    display: inline-block;
    position: absolute;
    height: 70px;
    width: 90px;
}

.nav_icons:hover{
    
    border-color: yellow;
    background: yellow;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.banner {
    background-color: yellow;
    display: block;
    top:90px;
    position: absolute;
    height: 700px;
    width: 100%;
}
.banner h1{
    position: absolute;
    margin:0;
    top:40px;
    left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200px;
}
.banner h2{
    position: absolute;
    font-size: 30px;
    top:250px;
    left: 100px;
    font-family: "Knewave", system-ui;
}
#foto_banner {
    margin-top:-100px;
    position: absolute;
    height: 400px;
    left: 570px;
  clip-path: inset(90px 0 0 0); /* corta 50px do topo */

}

#banner_1 {
    background-image: url('/img/porsche_tcar.jpeg');
    background-size: cover;
    top:120px;
    left:62%;
    display: inline-block;
    position: relative;
    background-color: rgba(5, 0, 0, 0.904);
    border-radius: 20px;
    border:2px solid;
    border-color: yellow;
    height: 400px;
    width: 500px;
    z-index: 0;
}
.banner h3 {
    margin-top: -30px;
    margin-left: 100px;
    width: 800px;
    text-align: justify;
}
#banner_list li{
    margin-left: 60px;
    text-align: justify;
    display: inline;
    width: 700px;
    font-weight: bold;
}

.servicos{
    top:790px;
    display: block;
    position: absolute;
    height: 700px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-items: center;
    text-align: center;
}
#topico_servicos{
    color: yellow;
    margin-top:-30px;
    padding-top: 10px;
    height: 50px;
    width: 300px;
    background-color: black;
    margin-left:40%;
    border-radius: 30px;
    border-color: white;
    border: 2px solid;
    border-top: black;
}